body{
    font-family: "montserrat";
}

html {
    scroll-behavior: smooth;
  }


#title{
    background-color:#85afc7;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;

}
/* texting coloring */

h1{
    font-family: 'Montserrat-bold';
    
    font-size: 3rem;
    line-height: 1.5;
}

h2{
    font-family: "ubuntu";
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 2%;
}

h3{

    font-family: 'Montserrat', sans-serif;

}

p{
    color: #8f8f8f;
}
/*navifation Bar*/

.navbar-brand {

font-family: "ubuntu";
font-size: 2.5rem;
font-weight: bold;
}

#mn{
    color: white;
}
#mn:hover{
    color: rgb(100, 100, 100);
}


/*download button */

.download-button{
    margin: 5% 3% 0%;

}

/*title image*/

.title-image{
    width: 60%;
    transform: rotate(25deg);

}

/* feature section */

#features{
position: relative;
    padding: 7% 15%;
    z-index: 1;
}

.features-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color :#85afc7;
    margin-left: 56px;
    margin-bottom: 1rem;
}

.icon:hover{

    color : #23648a;
}

/*testimonials section*/

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #85afc7;
    color: #fff;
}

.testoo{
    width: 20%;
    border-radius: 100%;
}

#press{
    background-color: #85afc7;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin-left: 5%;
}

.testimonial-image{
    width: 20%;
    border-radius: 50%;
}
.carousel-item{
    padding: 7% 15%;
}


   

.allcard{
    text-align: center;
    align-items: center;
    padding-left: 66%;
}

.card{
    text-align: center;
    box-shadow: 8px 8px gray;
}


#pricing{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 4%;
        
}

.cards-container{
    align-items: center;
    padding-left: 15%;

}



#pp{
    color: #23648a;
}

#pp:hover{
    color: #85afc7 ;
}


/*btn for cards*/


#card1btn{
    background-color:#23648a;
}

#card1btn:hover{
    background-color:   #85afc7;
    box-shadow: 2px 2px gray;
}


#cta{
    background-color: #85afc7 ;
    padding-bottom: 13%;
    text-align: center;

}
#ftl{
    padding-top: 5%;
    margin-bottom: 4%;

    justify-content: center;
}

#lastbtn{
    margin: 2px;
}

#footer{
    padding-top:10%;
    text-align: center;

}
#lasttxt{
    margin-bottom: 7%;
}

#lastimg{
    height: 40px;
    margin-bottom: 4%;
    margin-left: 20px;

}

